.w-4px {
    width: 4px !important
}

.w-8px {
    width: 8px !important
}

.w-12px {
    width: 12px !important
}

.w-16px {
    width: 16px !important
}

.w-20px {
    width: 20px !important
}

.w-24px {
    width: 24px !important
}

.w-28px {
    width: 28px !important
}

.w-32px {
    width: 32px !important
}

.w-34px {
    width: 34px !important
}

.w-36px {
    width: 36px !important
}

.w-64px {
    width: 64px !important
}

.w-128px {
    width: 128px !important
}

.w-200px {
    width: 200px !important
}

.w-300px {
    width: 300px !important
}

.w-400px {
    width: 400px !important
}

.w-40 {
    width: 40% !important
}

.w-45 {
    width: 45% !important
}

.toastify-custom {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.choices__list--dropdown {
    z-index: 100 !important;
}

.choices .choices__input {
    min-width: 100px !important;
}

.btn-md {
    font-size: .8rem;
    padding: .3rem .45rem;
}

.btn-xs {
    font-size: .7rem;
    padding: .15rem .35rem;
}
